.form {

  padding: 0 4rem;
  max-width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
    width: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  outline: none;
  border: none;
}
