.form {
  padding: 0 4rem;
  width: 100%;
  max-width: 50rem;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
    width: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  outline: none;
  border: none;
}

.error-msg {
  color: #c71d0e;
  font-size: 1.2rem;
  font-weight: bold;
}
