@use "../../../styles/partials/variables";

.container {
  .sign-up-column-one {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    padding-top: 6rem;
    > .title--secundary {
      @media screen and (max-width: 768px) {
        margin: 2rem 1rem;
      }
      margin: 4rem;
    }

    > .form > button {
      margin: 4rem 0;
    }
  }
}

.sign-up-column-two {
  background: map-get(variables.$primary-colors, purple-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    order: -1;
  }
  > a {
    @media screen and (max-width: 768px) {
      margin: 2rem;
    }
    margin: 4rem;
  }
  > .header {
    align-self: self-end;
    .logo {
      padding-right: 1rem;
    }
    > .logo > svg {
      @media screen and (max-width: 768px) {
        width: 64px;
        height: 64px;
      }
    }
  }
  .title {
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      text-align: center;
    }
    margin: 0 4rem;
  }
}
