$secundary-colors: (
  gray-1: #faf6fe,
  gray-2: #ebebeb,
  gray-3: #e0e0e0,
  gray-4: #cccccc,
  gray-5: #b8b8b8,
  gray-6: #a3a3a3,
  gray-7: #8f8f8f,
  gray-8: #7a7a7a,
  gray-9: #666666,
  gray-10: #525252,
  gray-11: #3d3d3d,
  gray-12: #292929,
  gray-13: #141414,
);

$primary-colors: (
  purple-1: #e7bfff,
  purple-2: #dea9ff,
  purple-3: #d298f5,
  purple-4: #ca85f4,
  purple-5: #bc72e9,
  purple-6: #a85fd5,
  purple-7: #944cc1,
  purple-8: #7e38a9,
  purple-9: #6a2992,
  purple-10: #581d7c,
  purple-11: #461067,
  purple-12: #360653,
  purple-13: #26003d,
);

$snuff: (
  50: #faf6fe,
  100: #f3eafd,
  200: #eddefc,
  300: #d9baf8,
  400: #c28ef2,
  500: #ab62ea,
  600: #9642db,
  700: #8030c0,
  800: #6d2c9d,
  900: #59257e,
  950: #3c0f5c,
);
