.planning-container {
  display: flex;
  min-height: 100%;
  // align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.planning-group {
  background: #fff;
  min-width: 90rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem lightgray;
  margin: 14rem auto;
}

.planning {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 1rem;
  margin: 7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  > header {
    display: grid;
    grid-template-areas:
      "title title"
      "form icon";
    gap: 2rem;
    > h2 {
      grid-area: title;
      font-size: 2.5rem;
    }
    > form {
      grid-area: form;
    }
    > i {
      grid-area: icon;
      justify-self: end;
      cursor: pointer;
    }
  }
  table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;

    thead tr:nth-child(odd) {
      background: darkgray;
      padding: 1rem;
    }

    tr {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border: 0.1rem solid #f1f1f1;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }
      &:nth-child(odd) {
        background-color: #f3f3f3;
      }
      td,
      th {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 0.5rem;
        button {
          border: none;
          background: none;
          margin: 0.5rem;
        }
      }
    }
  }
}
