@use "../../../styles/partials/variables";

.wrapper {
  display: flex;
  gap: 1rem;
  background-color: map-get(variables.$secundary-colors, gray-1);
  width: 100%;
  min-height: 100%;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 1rem;
  width: 100%;
  padding-right: 1rem;
  padding-bottom: 2.5rem;
}

.dashboard-first-row {
  margin-top: 13rem;
  width: 100%;
  display: grid;
  grid-template-areas:
    "Card Card Card dChart"
    "cChart cChart cChart dChart";
  gap: 1rem;
}

.dashboard-second-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.donut-chart-container {
  height: 20rem;
}

.donut-wrapper {
  background: #fff;
  border-radius: 2rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: minmax(15rem, 30rem);
  text-align: center;
  grid-area: dChart;
  align-items: center;
  justify-content: center;
}
.column-chart-wrapper--first {
  background: #fff;
  border-radius: 2rem;
  grid-area: cChart;
  padding: 1rem 2rem;
}

.column-chart-wrapper--second {
  background: #fff;
  border-radius: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(20rem, 100%);
  text-align: center;
}

.chart-container--column-one {
  height: 28rem;
  text-align: center;
  padding: 1rem 0;
}

.chart-container--column-two {
  height: 24rem;
  text-align: center;
  padding: 1rem;
}

.bar-chart-wrapper {
  background: #fff;
  border-radius: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(15rem, 30rem);
}

.chart-container-bar {
  height: 20rem;
  text-align: center;
}
.chart-container-line {
  height: 28rem;
  padding: 2rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
  grid-area: Card;
}
