@use "../../styles/partials/variables";

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header--sign-in {
  grid-template-areas: "div logo";
  .logo {
    @media screen and (max-width: 768px) {
      padding-right: 1rem;
    }
    grid-area: logo;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    width: 100%;
    height: 100%;
    background: #fff;
    > svg {
      @media screen and (max-width: 768px) {
        width: 64px;
        height: 64px;
      }
      width: 128px;
      max-width: 100%;
    }
  }
}

.header--sign-up {
  grid-template-areas: "div logo";
  .logo {
    grid-area: logo;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    width: 100%;
    height: 100%;
    > img {
      width: 128px;
      max-width: 100%;
    }
  }
}

.header--dashboard {
  align-items: center;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  z-index: 2;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}