@use "../../styles/partials/variables";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .grid-column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 2rem;
}

.grid-column--one {
    background: map-get(variables.$primary-colors, purple-10);
    padding: 0 10rem;
    align-items: center;
    text-align: center;
  }

  .grid-column--two {
    padding: 0 4rem;
  }
}

.title {
  font-size: 3rem;
  color: map-get(variables.$primary-colors, purple-1);
}

.title--secundary {
  color: map-get(variables.$primary-colors, purple-13);
}

.text {
  font-size: 1.5rem;
  color: map-get(variables.$primary-colors, purple-1);
}

.img {
  width: 36rem;
  max-width: 100%;
}
